## [Visual Studio]
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (DotSettings)
*.csproj.DotSettings.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017/2019/2022 cache/options directory
.vs/
# Uncomment if you want to ignore a whole solution directory
# .vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-agent.log

# Build logs
*.log

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains Rider
.idea/

# Local History for Visual Studio Code
.history/

# Micro-Framework Visual Studio build results
*.pccproj
*.projdata
*.vsdproj

# Visual Studio 2012/2013/2015/2017/2019/2022 Project System files
*.dbmdl
*.dbproj.schemaview

# Visual Studio 2017/2019/2022 Project System files
*.opendb
*.VC.db

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if using NuGet repositories to store flags or packages
# !**/[Pp]ackages/repository.config

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Cloud Service projects
ecf/
rcf/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Others
ClientBin/
~$*
*~
*.db
*.bak
*.cache
*.temp
*.tmp
.DS_Store
Thumbs.db
